/* resident overwrites */ 
/* often used and cutomized css values needs to be changed in 98% */

/* proportion */
body { font:normal 18px Arial, Helvetica; color:#444; background-color: #EEEEEE ;margin: 0; padding: 0; outline: none;line-height:1.6;}

#panel,.panel,#wrapper,.wrapper {margin:5px auto;padding:0 10px;max-width:950px;}

/* content */
a { text-decoration: underline; color: #0000ee; }
a:visited { color: #6A5ACD; }
a:hover { text-decoration: none; }
a:active, /* set class "active" for current pages*/
a.active { color: #2E6465; }
a[href^="#"] { color: inherit; } /* anchor links staying on the current page */
a[href^="//"]:after,
a[href^="http"]:after { color: #000; content: "➚"; font-size: 16px; padding-left: 2px;} /* external links */

img { border: 0; max-width: 100%;}
ul { list-style:none; list-style-image: url('data:image/gif;base64,R0lGODlhBQANAIAAAGOMnP///yH5BAEAAAEALAAAAAAFAA0AAAIJjI+pu+APo4SpADs'); margin-left: 15px;}

p {margin: 0 0 10px 0;}
hr {color:#000;background-color:#000;height:1px;margin: 0 0 2px 0;}
td{vertical-align: text-top;}
input, textarea { width: 350px; }
select { width: 356px; }
textarea { height: 200px; }

/* from usefulclassroomphrases */
.lead {font-size: 110%;background-color:#F6F6F6;}
.border {border: 1px solid gray;}

/* headings*/
h1,h2,h3,h4,h5,h6{padding:0; margin:30px 0 0 0;}
h1{color:#000; font-size: 130%; }
h2{color:#000; font-size: 120%; border-bottom: 1px solid gray;}
h3{color:#000; font-size: 115%; }
h4{color:#000; font-size: 110%; }
h5{color:#000; font-size: 105%; }
h6{color:#000; font-size: 105%; }
h1+h2 {margin-top: 2px;}
h2+h3 {margin-top: 2px;}
h3+h4 {margin-top: 2px;}
h4+h5 {margin-top: 2px;}
h5+h6 {margin-top: 2px;}


/* navigation horizontal */
#navigation ul {margin:0; padding: 0;}
#navigation ul li {display: inline-block; padding: 5px 10px 0 0;}


/* # standard Media Queries
================================================== */
 
/* Smaller than standard 950 (devices and browsers) */
@media only screen and (max-width: 949px) {

}
