/* generic icons */

@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

a:after {
    font-family: 'FontAwesome';
    margin-left: 3px;
}
a:hover:after {
    color: red ;
}
a[href^="http://"]:after,
a.external:after {
   content: "";
}
a[href^="https://"]:after,
.entypo-key:before {
    font-family: "entypo";
    content: "🔑";
}
a[href^="mailto:"]:after,
.entypo-mail:before {
    font-family: "entypo";
    content: "✉";
}
a[title="more"]:after,
.entypo-right-dir:before {
    font-family: "entypo";
    content: "▸";
}
/* remove not used */
a[href$="/feed/"]:after, /* for wordpress */
a[href$="atom"]:after, /* mediawiki etc */
/* a[href$="xml"]:after, /* xml feeds, */
a[href$="rss.xml"]:after,
a[href$=".rss"]:after,
.fontawesome-rss:before {
    content: "";
}
/* docs to download */
a[href$=".pdf"]:after, a[href$=".PDF"]:after,
a[href*=".pdf#"]:after, a[href*=".PDF#"]:after,
a[href*=".pdf?"]:after, a[href*=".PDF?"]:after,
.entypo-download:before {
    font-family: "entypo";
    content: "📥";
}
a[href ^="tel:"]:after,
.fontawesome-phone:before {
    content: "";
}
a[href$=".ogg"]:after, a[href$=".OGG"]:after,
a[href$=".mid"]:after, a[href$=".MID"]:after,
a[href$=".midi"]:after, a[href$=".MIDI"]:after,
a[href$=".mp3"]:after, a[href$=".MP3"]:after,
a[href$=".wav"]:after, a[href$=".WAV"]:after,
a[href$=".wma"]:after, a[href$=".WMA"]:after,
.fontawesome-music:before {
    content: "";
}
a[href$=".ogm"]:after, a[href$=".OGM"]:after,
a[href$=".avi"]:after, a[href$=".AVI"]:after,
a[href$=".mpeg"]:after, a[href$=".MPEG"]:after,
a[href$=".mpg"]:after, a[href$=".MPG"]:after,
.fontawesome-facetime-video:before {
    content: "";
}
a[href*=".wikipedia.org"]:after,
.zocial-wikipedia:before {
    font-family: 'zocial' !important;
    content: "," !important; 
}
a[href^="http://www.facebook.com"]:after,
.fontawesome-facebook-sign:before {
    content: "";
}
a[href^="https://twitter.com"]:after,
.fontawesome-twitter-sign:before {
    font-family: 'FontAwesome';
    content: "";
}
a[href^="https://www.linkedin.com"]:after,
.entypo-linkedin:before {
    font-family: "entypo";
    content: "";
}
a[href^="https://www.xing.com"]:after,
.zocial-xing:before {
    font-family: 'zocial';
    content: "X";
}
a[href*="action=edit"]:after,
a[href*="do=edit"]:after,
.fontawesome-edit:before {
    font-family: 'FontAwesome';
    content: "";
}
.fontnone:before,
.fontnone:after {
    content: none !important;
}

/* specials */
.arrowleft:before {
    font-family: 'FontAwesome';
    margin-right: 3px;
    content: "";
}
.arrowright:after {
    font-family: 'FontAwesome';
    margin-left: 3px;
    content: "";
}
